.load-containers {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: navy;
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  width: 50%;
  border: 2px solid #003c7d; /* Blue border */
  border-radius: 8px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  margin-bottom: 20px; /* Adds space below the input field */
}

button {
  padding: 15px 30px;
  background-color: navy;
  color: white;
  border: 3px solid #003c7d;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  border-color: #002244;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.error {
  color: red;
  margin-top: 10px;
}

.loaded-list {
  list-style: none !important; /* Forces removal of bullet points */
  padding: 0; /* Removes default padding */
  height: 50vh;
  overflow-y: scroll;
  margin-top: auto;
  
}

.loaded-list li {
  background-color: lightgray;
  margin: 5px 0;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px; /* Increased font size */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center align the text */
  word-wrap: break-word;
  
}

.splitScreen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 10vh;
}

.left,
.right {
  height: 97%;
  max-width: 40vw;
}
